@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 3.3rem;
  --color-base-white: 255 255 255;
  --color-base-black: 26 26 30;
  --color-base-white-off: 251 251 251;
  --color-base-stone-20: 240 240 239;
  --color-base-stone-50: 231 230 228;
  --color-base-stone-100: 208 206 202;
  --color-base-brown: 77 73 66;
  --color-accent-metal: 193 194 189;
  --color-accent-earth: 154 104 44;
  --color-accent-water: 74 98 111;
  --color-accent-fire: 151 103 81;
  --color-accent-wood: 112 116 85;
  --color-error: 230 44 23;
}
